In [ ]:
age = 32
height = 6.1
name = 'Krish'
is_student = True